*{
    margin: 0;
    padding: 0px;
    display: border-box;
    box-sizing: auto;
  }
  
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("https://user-images.githubusercontent.com/71349276/102156363-3f868700-3e32-11eb-9d33-68023872f758.jpg");
    background-size: 1270px 1010px;
  }
  header {
    text-align: center;
    padding-top: 10px;
    margin-left: 475px;
    margin-right: 475px;
    color: white;
    margin-top: 20px;
  }
  h1 {
    font-size: 55px;
    color: white;
    box-sizing: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1px;
    background-color:#24411A;
    -webkit-text-fill-color: white;
    
  }
  h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  box-sizing: auto;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-text-stroke-color:black;
  -webkit-text-stroke-width: 1px;
  background-color: #24411A;
  -webkit-text-fill-color: white;
  }
  
  h3 {
  font-size: 24px;
  margin: 10px;
  background-color:  #24411A;
  margin-left: 400px;
  margin-right: 400px;
  text-decoration: bold;
  padding: 10px;
  text-align: center;
  
  }
  .element {
    background-color: #24411a;
    height: 125px;
    margin-left: 425px;
    width: 350px;
    padding-top: 10px;
    text-align: left;
  
  } 
  
  .article{
  background-color: #24411a;
  height: 125px;
  margin-left: 425px;
  width: 350px;
  padding-top: 10px;
  margin-top: 30px;
  text-align: left;
  
  }
  p {
    font-size: 15px;
    color: black;
    
   }
  
   a {
     color: black;
     background-color: rgb(52, 52, 102);
     text-align: center;
   }
  footer {
    font-size: 18px;
    margin-bottom: .5px;
    font-weight: bold;
   }
  h5 {
    font-size: 20px;
    background-color: #24411A;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
      }
  
  h4 {
  
    font-size: 18px;
    padding: 10px;
   
  
  }