*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    
    
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("https://user-images.githubusercontent.com/71349276/102026769-93bb3980-3d54-11eb-956d-7104240f2070.jpg");
    background-position: center;
}
 
  header {
    background-color: #24411A;
    width: 450px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 20px;
   
}
h1 {
    font-size: 42px;
    color: white;
    background-color: #24411A;
    box-sizing: auto;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1px;
    background-color: #24411A;
    -webkit-text-fill-color: white;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
    background-color: #24411A;
    margin-left: 500px;
    margin-right: 500px;
    text-decoration: bold;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
  font-size: 20px;
  margin: 20px;
  background-color: #24411A;
  margin-left: 50px;
  margin-right: 800px;
  text-decoration: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding: 25px;
  
}
.element {
  font-size: 20px;
  margin-right: 800px;
  margin-left: 100px;
  background-color: #24411A;
  text-decoration: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding: 25px;
  width: 250px;

}

.main {
    background-color: #24411a;
    margin-left: 25px;
    width: 25px;
    padding: 20px;
    margin: 20px;
    
} 

p {
    margin: 5px;
    font-size: 15px;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1px;
    margin-top: 20px;
    -webkit-text-fill-color: white;
    text-decoration: outline;
    
}


footer {
    font-size: 20px;
    margin: 20px;     -webkit-text-stroke-color:black;
    background-color: #24411A;
    -webkit-text-stroke-width: 1px;
    font-weight: bold;
    -webkit-text-fill-color: white;
     
}
    
  h4 {
    font-size: 20px;
    padding: 10px;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1px;
    font-weight: bold;
    -webkit-text-fill-color: white;
  
  }

  a {
    font-size: 20px;  
    padding: 10px;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1px;
    font-weight: bold;
    -webkit-text-fill-color: white;
    background-color: #24411A;

  }


footer {
    font-size: 20px;
    margin: 20px;     -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1px;
    font-weight: bold;
    -webkit-text-fill-color:white;
     
}
